body {
  background-color: rgb(32, 32, 32);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}
.nome {
  color: white;
  text-align: center;
  margin-top: 2%;
}
.filme {
  width: 350px;
  height: 500px;
  margin: 2% 3%;
}
